
<form id ="formLogin" [formGroup]="loginForm"  
                >
    
    <section>
       
        <label class="formLabelLogin"
               for="pwd"
               [innerText]="'סיסמה'">
        </label>
        <input type="password"
            id="pwd"
            class="form-control"
            weakLabel="test"
            pInputText
            formControlName="password"
            (focus)="errMsg = ''"
             />

        <span class="errorText"
           *ngIf="loginForm.get('password')?.invalid && mouseoverLogin"
           [innerText]="'שדה חובה'">
        </span>
   </section>
    <footer>
        
        <span *ngIf="errMsg"
           [innerText]="errMsg">
        </span>

        <div (mouseenter)="mouseoverLogin=true"
          (mouseleave)="mouseoverLogin=false">

            <button pButton
                class="btn greenBorder"
                type="submit"
                (click)="login()"
                [disabled]="loginForm.invalid">
                submit
            </button>

        </div>
    </footer>
</form>
 